// Place all the styles related to the plansintroduction::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-pic {
    display: block;
    padding: 0px;
    padding-top: 18px;
    padding-right: 0px;
    margin-left: 12px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.post-title {
  color: #666666;

}



.upvote  {
  color:#878787;
  margin: 20px 0px 10.5px 0px;
  i {
    text-decoration:none;
    color: #878787;
  }
  i:hover,
  i:active,
  i:focus {
    text-decoration:none;
    color: #2196F3;
    // #2196F3
  }
  a {
    text-decoration:none;
    color: #878787;
  }
  a:hover,
  a:active,
  a:focus {
    text-decoration:none;
    color: #878787;
    // #2196F3
  }
}

.visit {
  color:#878787;
 margin: 20px 0px 10.5px 0px;
  a {
    text-decoration:none;
    color: #878787;
  }
  a:hover,
  a:active,
  a:focus {
    text-decoration:none;
    color: #878787;
  }
}
