<% @posts.each do |post| %>
    <tr>
        <td>
            <%= link_to(post.title, plansintroduction_post_path(post)) %>
        </td>
    </tr>
<% end %>
<%= will_paginate @posts , class: "apple_pagination"%>
