<div class="container-fluid">
    <div class="row">
        <div class="welcome_p1">
            <%= link_to @intro.link, target: "_blank" do %>
                <%= image_tag(@intro.image, :class => "width-100") %>
            <% end %>
        </div>
    </div>
    <div class="row">
        <% @ads.each do |ad| %>
            <div class="col-md-4">
                <%= link_to ad.link, target: "_blank" do %>
                    <%= image_tag(ad.image, :class => "width-100") %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
