/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";




//--------pagination style---------------


.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.apple_pagination {
  background: #f5f5f2;
  // border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #2196F3;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.apple_pagination_white {
        background: #fff;
        // border: 1px solid #e5e5e5;
        text-align: center;
        padding: 1em;
        cursor: default; }
        .apple_pagination_white a, .apple_pagination_white span {
          padding: 0.2em 0.3em; }
        .apple_pagination_white .disabled {
          color: #aaaaaa; }
        .apple_pagination_white .current {
          font-style: normal;
          font-weight: bold;
          background-color: #2196F3;
          display: inline-block;
          width: 1.4em;
          height: 1.4em;
          line-height: 1.5;
          -moz-border-radius: 1em;
          -webkit-border-radius: 1em;
          border-radius: 1em;
          text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
        .apple_pagination_white a {
          text-decoration: none;
          color: black; }
          .apple_pagination_white a:hover, .apple_pagination_white a:focus {
            text-decoration: underline; }

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }


//navbar

.navbar-default {
  background-color: rgba(26, 26, 26, 0.9);//背景颜色
  border-color: #1a1a1a;//边框色
  margin-bottom: 0;//底部 margin 不撑开距离
}


.navbar {        border-radius: 0;//圆角为0
     }


   .navbar-default .navbar-brand {
     color: #2196F3;//字体颜色
     padding: 15px 15px;//上下10px,左右15px
     line-height: 30px;//文字行高
   }
   .navbar-default .navbar-brand:hover,
   .navbar-default .navbar-brand:focus {
     color: #2196F3;//鼠标放置在链接上的文字颜色   theme-color
     background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
   }

   .navbar-default .navbar-nav > li > a{
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2196F3;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2196F3;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #2196F3;
}

.navbar-fixed-top {
    top: 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
}

//footer

.footer{
  text-align: center;
  min-height: 200px;
  background-color: #f5f5f2;
  padding: 15px 0;
  color: #333333;
  font-size: 12px;

  h4 {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
  }

  li {
    margin-top: 5px;
  }

  a {
    text-decoration:none;
    color: #333333;
  }

  a:hover,
  a:active,
  a:focus {
    color: #2196F3;
  }



  p {
    a {
      color: #ddd;
    }
    a:hover {
      color: #eb5424;
    }
  }

  .footer-box {
    text-align: left !important;
    margin-top: 15px;
  }

  .footer-copy {
    margin-top:28.5px;
    margin-bottom:60px;
    font-size: 12px;
    color: #666666;
  }
  .footer-content {
    font-size: 16px;
    font-family: Raleway;
    color: #ddd;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: 200;

    img {
      width: 25px;
      margin-left: 7.5px;
      margin-right: -0.1px;
    }

    img:hover {
      opacity: 1;
    }
  }
}

.width-100 {
    width: 100%;
  }

.space-20 {
  margin-top: 20px;
}

.space-30 {
  margin-top: 30px;
}

.space-50 {
  margin-top: 50px;
}



body {
  background-color: #f5f5f2;
}

  //alert

  .alert {
    margin-bottom: 0px;
  }

  //logo showup

// .logo{ z-index:0; }
// .logo:hover{ background-color:transparent; z-index:5; }
// .logo span{visibility:hidden; color:#000; padding:0px; }
// .logo span img{position: fixed; bottom:50px; width: 114px; height: 108px;}
// .logo:hover span{ position: fixed;top: 0px; left:101px; visibility:visible; }

.logo { background-color:transparent; z-index:5; }
.logo  span{ position: fixed;top: 0px; left:101px; visibility:visible; }
//signup login problems


.user_setup{
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://ww2.sinaimg.cn/large/006tKfTcly1fi6i3fv2sbj30uj0g6wka.jpg');
}

.user_setup_content{
  background: #fff;
  margin-top: 140px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 1px 3px 5px #333;
  border: 5px solid #555;
  border-radius: 25px;

  opacity:0.95;
  filter:alpha(opacity=95);

  h2{
    text-align: center;
  }

  .psw{
    float: right;
    margin-top: -33px;
    position: relative;
  }

  .account{
    text-align: center;
  }

  .form-inputs{
    margin-top: 25px;
  }

  .form-actions{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;

    .button{
      color: #fff;
      background-color: #4A6BB5;
      border-color: #4A6BB5;
      font-size: 16px;
      letter-spacing: 1px;
      width: 100%;
    }

    .button:hover{
      background-color: #4A99B5;
      border-color: #4A99B5;
      color: #fff;
    }
  }
}





.account-box{
  background: image_url("account_background.jpg") no-repeat scroll top center/ cover;
}

.account-content{
  background: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 1px 3px 5px #333;
  border: 5px solid #555;
  border-radius: 25px;

  opacity:0.95;
  filter:alpha(opacity=95);

  h2{
    text-align: center;
  }

  .gender-box {
    span {
      display: inline-block;
      margin-right: 15px;
    }
  }

  .phone {
    width: 65%;
  }

  .form-inputs{
    margin-top: 25px;
  }

  .form-actions{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;

    .button{
      color: #fff;
      background-color: #4A6BB5;
      border-color: #4A6BB5;
      font-size: 16px;
      letter-spacing: 1px;
      width: 100%;
    }

    .button:hover{
      background-color: #4A99B5;
      border-color: #4A99B5;
      color: #fff;
    }
  }
}

// 链接  黑蓝
.commonlink {
  a {
    color: #263238;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #1690dc;
    text-decoration: underline;
  }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

// 后台
.nav-sidebar {
  margin-top: 65px;

  span {
    margin-left: 2.5px;
  }

  li {
    max-width: 250px;
    padding: 12.5px 15px 12.5px 15px;
    background-color: #546270;
    border: 1px solid #4a4a4a;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: #44c7f4;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

//table
table{
    box-shadow: 0 0 3px #999;
  }

  thead{
    line-height: 200%;
    background-color: #02061A;
    font-size: 16px;
    color: #fff;
  }

  tr {
    border: 1px solid #ccc;
  }

.center {
  text-align: center;
}

.width-50 {
    width: 50%;
  }
