// Place all the styles related to the wirelessinfo::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-link {
  font-size: 16px;
  color: #666666;
  margin: 0px;
  padding:15px 0px 15px 5px;
  margin: 0px 10px 0px 10px;
  border-bottom: thin solid #E0E0E0;

  a {
    color: #666666;
    text-decoration: none;
    }

  a:hover, a:focus {
      color: #666666;
      text-decoration: underline;
    }
}

.post-collapse {
  background-color: #fafafa;
  padding: 24px 18px 45px 18px;
  font-size: 14px;
  color: #666666;
}

.more {
  color: #1690dc;
  text-decoration: none;
  }


.more:hover, .more:focus {
    color: #1690dc;
    text-decoration: underline;
  }


//wirelessinfo-more

.search-box {

    background-image:url('https://ww3.sinaimg.cn/large/006tNc79ly1fhg1ole2nkj31hc09en79.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 260px;


}

.search-bar {
  width: 450px;
  height: 42px;
}

.search-input {
  color: #fff;
  position: absolute;
  padding-left: 15px;
  top:0;
  left: 0;
  width:450px ;
  background-color:transparent;
  height: 42px;
  border: 1px solid #cdcdcd;
  border-radius: 35px;
}

.search-icon {
  background-color:transparent;
  border: 1px solid #cdcdcd;
  border-radius: 35px;

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #cdcdcd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #cdcdcd;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #cdcdcd;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #cdcdcd;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #cdcdcd;
}


.show-list {
  background-color: #2a7ac8;

  a {
    color: #fff;
    text-decoration: none;
    }

  a:hover, a:focus {
      color: #fff;
      text-decoration: underline;
    }
}

.show-post {
  background-color: #fff;

}

.show-list-item {
  margin-bottom: 27px;
  margin-left: 7.5px;
}

.posts-title-show {
  margin-left: 42px;
  padding-top: 47.5px;
  padding-bottom: 0px;
  font-size: 2.5em;
  font-weight: normal;
}


.posts-index {

  margin-left: 42px;
  margin-right: 42px;
  margin-bottom: 5px;
  font-size: 1.1em;
  line-height: 1.8em;                   //拉开行高
  text-align: justify;                  //文本两端对齐
  img {

    max-width:100%; height:auto;         //重要样式代码，实现不同大小屏幕下的响应式伸缩
    border-radius: 1px;                 //为所有图片设置6px的圆角
    }
}

.index_more {
  a {
    color:#1690dc;
  }

  a:hover,
  a:focus {
    color: #1690dc;
    text-decoration: underline;
  }

}

.item_time {

}

.item_title {

  padding-left: 10px;
  font-size: 1.1em;


}
