<div class="jumbotron" style="border-radius: 0px;">
    <h1 class="title">DDDDDDDD</h1>
    <p class="slogan">CCCCCCCCCCCCCCCCCCCCCCC
        <br>
        BBBBBBBBBBBBBBBBBBBBBBB
        <br>
        AAAAAAAAAAAAA
      </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上选购</a></p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
        </div>
    </div>
</div>
