<div class="jumbotron" style="border-radius: 0px;">
    <h1 class="title">DDDDDDDD</h1>
    <p class="slogan">CCCCCCCCCCCCCCCCCCCCCCC
        <br>
        BBBBBBBBBBBBBBBBBBBBBBB
        <br>
        AAAAAAAAAAAAA
      </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上选购</a></p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>新品推荐</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            1
    </div>
        <div class="col-md-6">
            ppp
    </div>
        <div class="col-md-3">
            2
    </div>
    </div>
</div>
