<div class="row space-30">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <div class="col-xs-12 show-post">
            <div class="post-title-show">
                <%= @post.title %>
            </div>
            <hr class="post-hr" >
            <div class="post-description">
                <%= raw @post.description %>
            </div>
        </div>
    </div>
</div>
